<div class="col-md-6 col-md-offset-3">
  <h3>Register</h3>
  <div class="inner">
    <form class="login-form row" [formGroup]="myForm">
      <div class="col-sm-6">
        <p class="fieldError" *ngIf="myForm.controls.firstName.errors?.required  && submitAttempt">First Name required</p>
        <input type="text" class="form-control" placeholder="First Name" required formControlName="firstName" [class.invalid]="!myForm.controls.firstName.valid  && submitAttempt">
      </div>
      <div class="col-sm-6">
        <p class="fieldError" *ngIf="myForm.controls.lastName.errors?.required  && submitAttempt">Last Name required</p>
        <input type="text" class="form-control" placeholder="Last Name" required formControlName="lastName" [class.invalid]="!myForm.controls.lastName.valid  && submitAttempt">
      </div>
      <div class="col-sm-12">
        <p class="fieldError" *ngIf="myForm.controls.email.errors?.remote  && submitAttempt">{{myForm.controls.email.errors?.remote}}</p>
        <p class="fieldError" *ngIf="myForm.controls.email.errors?.required  && submitAttempt">Email required</p>
        <input type="email" class="form-control" placeholder="Email" required formControlName="email" [class.invalid]="!myForm.controls.email.valid  && submitAttempt">
      </div>
      <div class="col-sm-12">
        <p class="fieldError" *ngIf="(myForm.controls.password.errors?.required || myForm.controls.password.errors?.minlength) && submitAttempt">Password must be atleast 6 characters</p>
        <input type="password" class="form-control" placeholder="Password" required formControlName="password" [class.invalid]="!myForm.controls.password.valid  && submitAttempt">
      </div>
      <div class="col-sm-12">
        <p class="fieldError" *ngIf="myForm.controls.confirm_password.errors?.required  && submitAttempt">Password must be confirmed</p>
        <p class="fieldError" *ngIf="myForm.controls.confirm_password.errors?.mustMatch ">Password does not much</p>
        <input type="password" class="form-control" placeholder="confirm Password" required formControlName="confirm_password" >
      </div>
      <input type="hidden" formControlName="password">
      <div class="form-footer col-sm-12">
        <div class="form-submit">
          <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="register()">Sign up</button>
        </div>
      </div>
    </form>
    <!-- .login-form -->
  </div>
  <!-- .inner -->

  <a class="social-signup-btn ssb-facebook" (click)="onFacebookLoginClick()">
    <i class="socicon-facebook"></i>
    <span>Register with Facebook</span>
  </a>
</div>